<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Eksamensopgave</title>
    <link rel="stylesheet" href="/CSS/forside.css">     
</head>

<body>
<!--Overskrift på hjemmesiden-->
      <div class="h1">
        <h1>Velkommen til DatingApp</h1>
      </div>

<!--Opret en bruger formlen-->
<form id="form">
<div id = "div1" class="Husk"> 
         <H2 id="header1">Opret en bruger på DatingApp</H2>
        
         <div>
             <label>Angiv fornavn</label>
             <input id="firstName" type="text" placeholder="Skriv dit fornavn her" required>
        </div>
<br>
        <div>
             <label>Angiv efternavn</label>
             <input id="lastName" name="Efternavn" placeholder="Skriv dit efternavn her">
        </div>
<br>
        <div>
             <label>Angiv email</label>
             <input id="email" name="email" placeholder="Skriv din email her">
             <p id="fail4"></p>
        </div>

        <div>
                <label>Angiv hvilket køn du har interesse for</label>     
                <select id="prefGender" name="interesse" id="interesse">
                <option value="default">Vælg køn</option>
                <option value="Mand">Mand</option>
                <option value="Kvinde">Kvinde</option>
                <option value="Andet">Andet</option>
               </select>
        </div>
<br>
        <div>
             <label>Angiv køn</label>     
             <select id="gender" name="køn">
             <option value="default">Vælg køn</option>
             <option value="Mand">Mand</option>
             <option value="Kvinde">Kvinde</option>
             <option value="Andet">Andet</option>
             </select>
        </div>
<br>
        <div>
              <label>Angiv adgangskode</label>
                <input id= "password" name="adgangskode" placeholder="Skriv din adgangskode her">
                <p id="forkert"></p>  
                <p id="fail"></p> 
                <p id="fail2"></p>
                <p id="fail3"></p>
        </div>
<br>
        <div>
            <label>Fødelsdagsdato</label>
            <input type="date" date="fødselsdagsdato" name="fødselsdagsdato" id="birthday">
        </div>
<br>
        <div>
                 <button id="submit" type="submit" name="submit">Registrer</button>
        </div>
</div>

</form>

</head>
<script src="forside.js"></script>
<script src="/Controller/userController.js"></script>



</body>



</html>

