<!DOCTYPE html>
<html>
    <head>
        <body>
            
            <div id="form2" class="login">
                <div>
                        <h2 id="header2">Login her</h2>     
                </div>
                <div>
                        <label>Angiv email</label>
                        <input id="email2" name="email2" placeholder="Skriv din email her">
                   </div>
                   <div>
                        <label>Angiv din adgangskode</label>
                        <input id= "adgangskode2" name="adgangskode2" placeholder="Skriv din adgangskode her">
                  </div>
                  <div>
                             <button id="Login"    type="submit" name="submit">Login</button>
                </div>
            </div>
            
        
        </body>
    </head>
</html>
